@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Font Poppins Wajib */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

:root {
  --primary: #FACC15;
  --bg-app: #F9FAFB;
  --text-main: #111827;
}

body {
  background-color: #e5e7eb; /* Background Desktop (Abu-abu gelap) */
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

/* Hide Scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}